:root{
    --cor-de-fundo:#1E1E1E;
    --verde:#6FFF57;
    --branco:#FFFFFF; 
    --botao-ativo:#3A375E; 
    --botao-inativo:#0a1458;
    --texto-de-fundo:#5E6278;
}


body{background-color: rgb(55, 198, 242);
    color: rgb(0, 90, 102);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
}

.botão{
    background-color: rgb(14, 223, 251);
    font-size: 20px;
    border-radius: 10px;
    color: black;
    margin: 10px;
    padding: 15px;


}
.conteudo-principal{
    display: flex;
    justify-content: center;
}